[submodule "IronScheme/IronScheme.Console/lib/srfi"]
	path = IronScheme/IronScheme.Console/lib/srfi
	url = https://github.com/leppie/chez-srfi.git
	branch = master
[submodule "IronScheme/IronScheme.Console/lib/pfds"]
	path = IronScheme/IronScheme.Console/lib/pfds
	url = https://github.com/leppie/pfds.git
	branch = master
[submodule "IronScheme/Managed.Reflection"]
	path = IronScheme/Managed.Reflection
	url = https://github.com/leppie/Managed.Reflection.git
