.cm-s-default span.cm-keyword {color:  #00f;}
.cm-s-default span.cm-atom {color: #219;}
.cm-s-default span.cm-number {color: red;}
.cm-s-default span.cm-def {color: #00f;}
.cm-s-default span.cm-variable {color: black;}
.cm-s-default span.cm-variable-2 {color: #05a;}
.cm-s-default span.cm-variable-3 {color: #0a5;}
.cm-s-default span.cm-property {color: black;}
.cm-s-default span.cm-operator {color: black;}
.cm-s-default span.cm-comment
{
  color: #008000;
}
.cm-s-default span.cm-string
{
  color: #800000;
}
.cm-s-default span.cm-string-2 {color: #f50;}
.cm-s-default span.cm-meta {color: #555;}
.cm-s-default span.cm-error {color: #f00;}
.cm-s-default span.cm-qualifier {color: #555;}
.cm-s-default span.cm-builtin {color: #30a;}
.cm-s-default span.cm-bracket
{
  color: black;
  font-weight: bold;
}
.cm-s-default span.cm-tag {color: #170;}
.cm-s-default span.cm-attribute {color: #00c;}

.cm-s-default span.cm-special { color: #ff9e59; } 