body, textarea, pre
{
  font-family: Consolas, monospace; /* fails on android... */
  font-size:10pt;
}

@media screen and (max-width: 800px) 
{
  body, textarea, pre
  {
    font-family: monospace; 
    font-size:10pt;
  }
}

#output, #result, #status
{
  border: 1px solid #808080;
  display:none;
}

#error
{
  border: 1px solid red;
  display:none;
}

#status
{
  display:block;
}

pre, h4 
{
  margin: 0px 0px 0px 0px;
  min-height: 1em;
}

 #output h4, #result h4, #status h4, #error h4
{
  border-bottom: 1px solid #808080;
  margin-bottom: 3px;
  background-color: #eee;
  padding: 3px 3px 3px 3px;
}
 
#error h4
{
  border-bottom: 1px solid red;
  background-color: #FF8080;
} 

#output, #result, #status, #error, #commands
{
  margin-top: 5px;
}

#output pre, #result pre, #status pre, #error pre
{
  margin: 3px 3px 3px 3px;
}

#snippets, #name
{
  width: 200px;
}



.heading 
{
  margin-bottom: 5px;
}
img
{
  border-width: 0px;
}
