body
{
  font-family: 'Segoe UI';
  font-size: small;
}

a
{
  text-decoration:none;
  color: #0000cc;
}

h1
{
  font-size:2em;
}

h2
{
  font-size:1.5em;
}

h3
{
  font-size:1.33em;
}

h4
{
  margin-top:5px;
  margin-bottom:5px;
  font-weight:bold;
  font-size:1.17em;
}

.id-table
{
  font-family:Consolas, Lucida Console, Courier New, Monospace;
}

.id-table tr td
{
  width:300px;
}

.id-table tr th
{
  text-align:left;
}

.id-table .syntax a 
{
  color:Blue;
}

.id-table .procedure a 
{
  color:Teal;
}


.id-table .record a
{
  color:Purple;
}


