body
{
  font-family: Verdana;
  background-color:#CCC08F;
  font-size:small;
}

label 
{
  width: 100px;
  float:left;
  display:block;
}

.blog-entry
{
  margin: 3px;
  padding: 3px;
  padding-top: 2px;
  height:100%;
  margin-bottom: 10px;
}

.blog-entry div
{
  margin-top:1px;
  margin-bottom:0px;
  padding-left:3px;
  font-variant:small-caps;
  font-size:larger;
}

.blog-entry div a
{
  text-decoration: none;
  color: #F8F8F8;
}

.blog-entry p
{
  margin:3px;
  padding:5px;
  background-color: #E6E1CF;
}

.blog-entry span
{
  font-size:smaller;
  padding-left: 3px;
  color: #C3C3C3;
}

v\:roundrect {
	display:block;
	background-color:#968C69;
	-moz-border-radius:5px;
	-webkit-border-radius: 5px;
	}
/* ie specific */
v\:roundrect  {
	behavior:url(#default#VML);
	/background-color:transparent;
	}