body
{
  font-family: 'Segoe UI';
  font-size: small;
}

h2
{
  padding-left: 10px;
}

label 
{
  width: 100px;
  float:left;
  display:block;
}

.blog-entry
{
  margin: 3px;
  padding: 3px;
  padding-top: 2px;
  height:100%;
  margin-bottom: 10px;
}

.blog-entry div
{
  margin-top:1px;
  margin-bottom:0px;
  padding-left:3px;
  font-variant:small-caps;
  font-size:larger;
  font-weight:bolder;
}

.blog-entry div a
{
  text-decoration: none;
  color: #0000CC;
}

.blog-entry p
{
  margin:3px;
  padding:5px;
  background-color: #def;
}

.blog-entry span
{
  font-size:smaller;
  padding-left: 3px;
  color: #111;
}

v\:roundrect {
	display:block;
	background-color:#C3D9FF;
	-moz-border-radius:5px;
	-webkit-border-radius: 5px;
	}
/* ie specific */
v\:roundrect  {
	behavior:url(#default#VML);
	/background-color:transparent;
	}