<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true"/>
		<trust level="Full"/>
		<httpHandlers>
			<add verb="*" type="IronScheme.Web.Handler, IronScheme" path="*.ss"/>
		</httpHandlers>
		<httpModules>
			<add name="Routing" type="IronScheme.Web.RoutingModule, IronScheme.Web"/>
		</httpModules>
	</system.web>
	<system.webServer>
		<handlers>
			<add name="IronScheme.Web" path="*.ss" verb="*" type="IronScheme.Web.Handler" resourceType="Unspecified" preCondition="integratedMode"/>
		</handlers>
	</system.webServer>
</configuration>
