<?xml version="1.0" encoding="UTF-8"?>

<!-- only IIS 7 (Integrated Pipeline mode), VS2008 webdev server and cassini_VS2008 are supported -->

<configuration>

  <location path="~/blog/edit">
    <system.web>
      <authorization>
        <allow users="admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="~/blog/add">
    <system.web>
      <authorization>
        <allow users="admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="~/blog/delete">
    <system.web>
      <authorization>
        <allow users="admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
	<system.web>
		<compilation debug="true">
      <assemblies>
        <add assembly="IronScheme, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </assemblies>
    </compilation>
		<trust level="Full" />
    <httpHandlers>
			<add verb="*" type="IronScheme.Web.Handler, IronScheme" path="*.ss" />
		</httpHandlers>
		<httpModules>
			<add name="Routing" type="IronScheme.Web.RoutingModule, IronScheme" />
		</httpModules>
    
    <authentication mode="Forms">
      <forms loginUrl="~/auth/login">
        <credentials>
          <user name="admin" password="admin" />
        </credentials>
      </forms>
    </authentication>
    
  </system.web>
  <!-- IIS 7 NOTE: You must set anonymous identifcation user to your app pool identity -->
	<system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering allowDoubleEscaping="true" />
    </security>
    <handlers>
			<add name="IronScheme.Web" path="*.ss" verb="*" type="IronScheme.Web.Handler" resourceType="Unspecified" preCondition="integratedMode" />
		</handlers>
    <modules>
      <add name="IronScheme.Web" type="IronScheme.Web.RoutingModule" preCondition="" />
    </modules>
	</system.webServer>
</configuration>
