<?xml version="1.0" encoding="UTF-8"?>
<!-- only IIS 7 (Integrated Pipeline mode), VS2008 webdev server and cassini_VS2008 are supported -->
<configuration>
	<location path="~/blog/edit">
		<system.web>
			<authorization>
				<allow users="admin" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="~/blog/add">
		<system.web>
			<authorization>
				<allow users="admin" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="~/blog/delete">
		<system.web>
			<authorization>
				<allow users="admin" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<system.web>
    <!-- enabled for .NET 4, if needed-->
		<!--<httpRuntime requestValidationMode="2.0"/>-->
		<sessionState mode="InProc" cookieless="false" timeout="20" />
		<customErrors mode="Off" />
		<compilation debug="true">
			<assemblies>
				<add assembly="IronScheme.Web.Runtime, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
			</assemblies>
		</compilation>
		<!-- No way to support Medium level, sorry -->
		<trust level="Full" />
		<authentication mode="Forms">
			<forms loginUrl="~/auth/login">
				<credentials>
					<user name="admin" password="admin" />
				</credentials>
			</forms>
		</authentication>
	</system.web>
	<!-- IIS 7 NOTE: You must set anonymous identifcation user to your app pool identity -->
	<system.webServer>
		<httpErrors errorMode="Detailed" />
		<validation validateIntegratedModeConfiguration="true" />
		<security>
			<requestFiltering allowDoubleEscaping="true" />
		</security>
    <modules>
      <add name="IronScheme.Web" type="IronScheme.Web.RoutingModule" preCondition="integratedMode" />
    </modules>
    <handlers>
      <!-- .NET 4 seems to want  resourceType="Either" -->
			<add name="IronScheme.Web" path="*.ss" verb="*" type="IronScheme.Web.Handler" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode" />
		</handlers>
	</system.webServer>
</configuration>
